* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title-container {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

#card_container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.team_card_container {
    width: calc(100% /3)
}

.card_container {
    width: 100px;


}

.info {
    width: 210px;
    text-align: center;
    padding-top: 10px;
}
.img-container{
     max-width: 200px;
}
img {
    max-width: 200px;
    border-radius: 0 40px 20px;
    margin-top: 80px;
}


@media only screen and (max-width:768px) {


    .title-container {
        width: 320px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        font-size: 10px
    }


    .team_card_container {
        width: calc(100% /2)
    }

    .card_container {
        width: 50px;


    }

    .info {
        width: 120px;
        text-align: center;
        padding-top: 10px;
    }

    img {
        max-width: 150px;
        border-radius: 0 40px 20px;
        margin-top: 80px;
    }



}